.title {
  padding-top: 30px;
  text-align: center;
}
.title-text {
  text-decoration: blue underline;
}
.content {
  text-align: center;
  padding: 50px 0px;
}
.box-items {
  padding-top: 35px;
  border: 1px solid blue;
  width: 25%;
  margin: auto;
  border-radius: 7px;
  box-shadow: 5px 10px #888888;
}
.btn {
  margin: 20px 0px;
  width: 200px;
}
